<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>s030</key>
	<string>128162</string>
	<key>s034</key>
	<string>128697</string>
	<key>s035</key>
	<string>128698</string>
	<key>s053</key>
	<string>128286</string>
	<key>s059</key>
	<string>128702</string>
</dict>
</plist>
