<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f001</key>
	<string>128516</string>
	<key>f002</key>
	<string>128515</string>
	<key>f003</key>
	<string>128522</string>
	<key>f005</key>
	<string>128521</string>
	<key>f006</key>
	<string>128525</string>
	<key>f007</key>
	<string>128536</string>
	<key>f008</key>
	<string>128538</string>
	<key>f009</key>
	<string>128540</string>
	<key>f010</key>
	<string>128541</string>
	<key>f011</key>
	<string>128563</string>
	<key>f012</key>
	<string>128513</string>
	<key>f013</key>
	<string>128532</string>
	<key>f014</key>
	<string>128524</string>
	<key>f015</key>
	<string>128530</string>
	<key>f016</key>
	<string>128542</string>
	<key>f017</key>
	<string>128547</string>
	<key>f018</key>
	<string>128546</string>
	<key>f019</key>
	<string>128514</string>
	<key>f020</key>
	<string>128557</string>
	<key>f021</key>
	<string>128554</string>
	<key>f022</key>
	<string>128549</string>
	<key>f023</key>
	<string>128560</string>
	<key>f024</key>
	<string>128531</string>
	<key>f025</key>
	<string>128552</string>
	<key>f026</key>
	<string>128561</string>
	<key>f027</key>
	<string>128544</string>
	<key>f028</key>
	<string>128545</string>
	<key>f029</key>
	<string>128534</string>
	<key>f030</key>
	<string>128567</string>
	<key>f031</key>
	<string>128562</string>
	<key>f032</key>
	<string>128527</string>
	<key>f033</key>
	<string>128127</string>
	<key>f034</key>
	<string>128123</string>
	<key>f035</key>
	<string>128125</string>
	<key>f036</key>
	<string>128128</string>
	<key>f038</key>
	<string>128148</string>
	<key>f039</key>
	<string>128151</string>
	<key>f040</key>
	<string>128150</string>
	<key>f041</key>
	<string>128152</string>
	<key>f042</key>
	<string>128157</string>
	<key>f043</key>
	<string>128102</string>
	<key>f044</key>
	<string>128103</string>
	<key>f045</key>
	<string>128104</string>
	<key>f046</key>
	<string>128105</string>
	<key>f047</key>
	<string>128116</string>
	<key>f048</key>
	<string>128117</string>
	<key>f049</key>
	<string>128113</string>
	<key>f050</key>
	<string>128124</string>
	<key>f051</key>
	<string>128120</string>
	<key>f052</key>
	<string>128114</string>
	<key>f053</key>
	<string>128115</string>
	<key>f054</key>
	<string>128110</string>
	<key>f055</key>
	<string>128119</string>
	<key>f056</key>
	<string>128130</string>
	<key>f057</key>
	<string>128118</string>
	<key>f059</key>
	<string>128582</string>
	<key>f060</key>
	<string>128581</string>
	<key>f061</key>
	<string>128129</string>
	<key>f062</key>
	<string>128131</string>
	<key>f063</key>
	<string>128145</string>
	<key>f064</key>
	<string>128143</string>
	<key>f065</key>
	<string>128107</string>
	<key>f066</key>
	<string>127886</string>
	<key>f067</key>
	<string>128583</string>
	<key>f068</key>
	<string>128064</string>
	<key>f069</key>
	<string>128067</string>
	<key>f070</key>
	<string>128066</string>
	<key>f071</key>
	<string>128068</string>
	<key>f073</key>
	<string>128073</string>
	<key>f074</key>
	<string>128072</string>
	<key>f075</key>
	<string>128070</string>
	<key>f076</key>
	<string>128071</string>
	<key>f079</key>
	<string>128076</string>
	<key>f080</key>
	<string>128170</string>
	<key>f081</key>
	<string>128077</string>
	<key>f083</key>
	<string>128078</string>
	<key>f085</key>
	<string>128080</string>
	<key>f087</key>
	<string>128079</string>
	<key>f088</key>
	<string>128591</string>
</dict>
</plist>
