<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fl001</key>
	<string>128054</string>
	<key>fl002</key>
	<string>128058</string>
	<key>fl003</key>
	<string>128049</string>
	<key>fl004</key>
	<string>128045</string>
	<key>fl005</key>
	<string>128057</string>
	<key>fl006</key>
	<string>128048</string>
	<key>fl007</key>
	<string>128056</string>
	<key>fl008</key>
	<string>128047</string>
	<key>fl009</key>
	<string>128040</string>
	<key>fl010</key>
	<string>128059</string>
	<key>fl011</key>
	<string>128055</string>
	<key>fl012</key>
	<string>128046</string>
	<key>fl013</key>
	<string>128023</string>
	<key>fl014</key>
	<string>128053</string>
	<key>fl015</key>
	<string>128052</string>
	<key>fl016</key>
	<string>128017</string>
	<key>fl017</key>
	<string>128024</string>
	<key>fl018</key>
	<string>128025</string>
	<key>fl019</key>
	<string>128031</string>
	<key>fl020</key>
	<string>128051</string>
	<key>fl021</key>
	<string>128044</string>
	<key>fl022</key>
	<string>128032</string>
	<key>fl023</key>
	<string>128013</string>
	<key>fl024</key>
	<string>128027</string>
	<key>fl025</key>
	<string>128043</string>
	<key>fl026</key>
	<string>128020</string>
	<key>fl027</key>
	<string>128039</string>
	<key>fl028</key>
	<string>128038</string>
	<key>fl029</key>
	<string>128036</string>
	<key>fl030</key>
	<string>127799</string>
	<key>fl031</key>
	<string>127803</string>
	<key>fl032</key>
	<string>127802</string>
	<key>fl034</key>
	<string>127796</string>
	<key>fl035</key>
	<string>127797</string>
	<key>fl036</key>
	<string>127806</string>
	<key>fl037</key>
	<string>127811</string>
	<key>fl038</key>
	<string>127808</string>
	<key>fl039</key>
	<string>127809</string>
	<key>fl040</key>
	<string>127810</string>
</dict>
</plist>
