<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>st001</key>
	<string>127908</string>
	<key>st002</key>
	<string>127925</string>
	<key>st006</key>
	<string>127769</string>
	<key>st007</key>
	<string>128169</string>
	<key>st008</key>
	<string>128081</string>
	<key>st009</key>
	<string>128293</string>
	<key>st010</key>
	<string>128176</string>
	<key>st011</key>
	<string>128137</string>
	<key>st012</key>
	<string>128164</string>
	<key>st016</key>
	<string>127934</string>
	<key>st022</key>
	<string>127876</string>
	<key>st023</key>
	<string>128141</string>
	<key>st024</key>
	<string>128142</string>
	<key>st025</key>
	<string>127927</string>
	<key>st026</key>
	<string>127928</string>
	<key>st027</key>
	<string>127930</string>
	<key>st028</key>
	<string>127936</string>
	<key>st029</key>
	<string>127944</string>
	<key>st030</key>
	<string>127921</string>
	<key>st031</key>
	<string>127860</string>
	<key>st032</key>
	<string>127890</string>
	<key>st033</key>
	<string>127754</string>
	<key>st036</key>
	<string>127873</string>
	<key>st042</key>
	<string>127881</string>
	<key>st043</key>
	<string>127916</string>
	<key>st044</key>
	<string>127926</string>
	<key>st045</key>
	<string>128166</string>
	<key>st049</key>
	<string>127875</string>
	<key>st050</key>
	<string>127912</string>
</dict>
</plist>
