<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>😄</key>
	<string>f001</string>
	<key>😃</key>
	<string>f002</string>
	<key>😊</key>
	<string>f003</string>
	<key>😉</key>
	<string>f005</string>
	<key>😍</key>
	<string>f006</string>
	<key>😘</key>
	<string>f007</string>
	<key>😚</key>
	<string>f008</string>
	<key>😜</key>
	<string>f009</string>
	<key>😝</key>
	<string>f010</string>
	<key>😳</key>
	<string>f011</string>
	<key>😁</key>
	<string>f012</string>
	<key>😔</key>
	<string>f013</string>
	<key>😌</key>
	<string>f014</string>
	<key>😒</key>
	<string>f015</string>
	<key>😞</key>
	<string>f016</string>
	<key>😣</key>
	<string>f017</string>
	<key>😢</key>
	<string>f018</string>
	<key>😂</key>
	<string>f019</string>
	<key>😭</key>
	<string>f020</string>
	<key>😪</key>
	<string>f021</string>
	<key>😥</key>
	<string>f022</string>
	<key>😰</key>
	<string>f023</string>
	<key>😓</key>
	<string>f024</string>
	<key>😨</key>
	<string>f025</string>
	<key>😱</key>
	<string>f026</string>
	<key>😠</key>
	<string>f027</string>
	<key>😡</key>
	<string>f028</string>
	<key>😖</key>
	<string>f029</string>
	<key>😷</key>
	<string>f030</string>
	<key>😵</key>
	<string>f031</string>
	<key>😏</key>
	<string>f032</string>
	<key>👿</key>
	<string>f033</string>
	<key>👻</key>
	<string>f034</string>
	<key>👽</key>
	<string>f035</string>
	<key>💀</key>
	<string>f036</string>
	<key>💔</key>
	<string>f038</string>
	<key>💗</key>
	<string>f039</string>
	<key>💖</key>
	<string>f040</string>
	<key>💘</key>
	<string>f041</string>
	<key>💝</key>
	<string>f042</string>
	<key>👦</key>
	<string>f043</string>
	<key>👧</key>
	<string>f044</string>
	<key>👨</key>
	<string>f045</string>
	<key>👩</key>
	<string>f046</string>
	<key>👴</key>
	<string>f047</string>
	<key>👵</key>
	<string>f048</string>
	<key>👱</key>
	<string>f049</string>
	<key>👼</key>
	<string>f050</string>
	<key>👸</key>
	<string>f051</string>
	<key>👲</key>
	<string>f052</string>
	<key>👳</key>
	<string>f053</string>
	<key>👮</key>
	<string>f054</string>
	<key>👷</key>
	<string>f055</string>
	<key>💂</key>
	<string>f056</string>
	<key>👶</key>
	<string>f057</string>
	<key>🎅</key>
	<string>f058</string>
	<key>🙆</key>
	<string>f059</string>
	<key>🙅</key>
	<string>f060</string>
	<key>💁</key>
	<string>f061</string>
	<key>💃</key>
	<string>f062</string>
	<key>💑</key>
	<string>f063</string>
	<key>💏</key>
	<string>f064</string>
	<key>👬</key>
	<string>f065</string>
	<key>🎎</key>
	<string>f066</string>
	<key>🙇</key>
	<string>f067</string>
	<key>👀</key>
	<string>f068</string>
	<key>👃</key>
	<string>f069</string>
	<key>👂</key>
	<string>f070</string>
	<key>👄</key>
	<string>f071</string>
	<key>👉</key>
	<string>f073</string>
	<key>👈</key>
	<string>f074</string>
	<key>👆</key>
	<string>f075</string>
	<key>👇</key>
	<string>f076</string>
	<key>👌</key>
	<string>f079</string>
	<key>💪</key>
	<string>f080</string>
	<key>👍</key>
	<string>f081</string>
	<key>👎</key>
	<string>f083</string>
	<key>👐</key>
	<string>f085</string>
	<key>🙌</key>
	<string>f086</string>
	<key>👏</key>
	<string>f087</string>
	<key>🙏</key>
	<string>f088</string>
</dict>
</plist>
