<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🍶</key>
	<string>m001</string>
	<key>🍻</key>
	<string>m002</string>
	<key>🍦</key>
	<string>m003</string>
	<key>🍟</key>
	<string>m004</string>
	<key>🍡</key>
	<string>m005</string>
	<key>🍘</key>
	<string>m006</string>
	<key>🍚</key>
	<string>m007</string>
	<key>🍝</key>
	<string>m008</string>
	<key>🍆</key>
	<string>m009</string>
	<key>🎂</key>
	<string>m010</string>
	<key>🍱</key>
	<string>m011</string>
	<key>🍲</key>
	<string>m012</string>
	<key>🍧</key>
	<string>m013</string>
	<key>🍸</key>
	<string>m014</string>
	<key>🍰</key>
	<string>m016</string>
	<key>🍺</key>
	<string>m017</string>
	<key>🍔</key>
	<string>m018</string>
	<key>🍵</key>
	<string>m020</string>
	<key>🍞</key>
	<string>m021</string>
	<key>🍜</key>
	<string>m022</string>
	<key>🍛</key>
	<string>m023</string>
	<key>🍙</key>
	<string>m024</string>
	<key>🍣</key>
	<string>m025</string>
	<key>🍎</key>
	<string>m026</string>
	<key>🍊</key>
	<string>m027</string>
	<key>🍓</key>
	<string>m028</string>
	<key>🍉</key>
	<string>m029</string>
	<key>🍅</key>
	<string>m030</string>
</dict>
</plist>
