<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🐶</key>
	<string>fl001</string>
	<key>🐺</key>
	<string>fl002</string>
	<key>🐱</key>
	<string>fl003</string>
	<key>🐭</key>
	<string>fl004</string>
	<key>🐹</key>
	<string>fl005</string>
	<key>🐰</key>
	<string>fl006</string>
	<key>🐸</key>
	<string>fl007</string>
	<key>🐯</key>
	<string>fl008</string>
	<key>🐨</key>
	<string>fl009</string>
	<key>🐻</key>
	<string>fl010</string>
	<key>🐷</key>
	<string>fl011</string>
	<key>🐮</key>
	<string>fl012</string>
	<key>🐗</key>
	<string>fl013</string>
	<key>🐵</key>
	<string>fl014</string>
	<key>🐴</key>
	<string>fl015</string>
	<key>🐑</key>
	<string>fl016</string>
	<key>🐘</key>
	<string>fl017</string>
	<key>🐙</key>
	<string>fl018</string>
	<key>🐟</key>
	<string>fl019</string>
	<key>🐳</key>
	<string>fl020</string>
	<key>🐬</key>
	<string>fl021</string>
	<key>🐠</key>
	<string>fl022</string>
	<key>🐍</key>
	<string>fl023</string>
	<key>🐛</key>
	<string>fl024</string>
	<key>🐫</key>
	<string>fl025</string>
	<key>🐔</key>
	<string>fl026</string>
	<key>🐧</key>
	<string>fl027</string>
	<key>🐦</key>
	<string>fl028</string>
	<key>🐤</key>
	<string>fl029</string>
	<key>🌷</key>
	<string>fl030</string>
	<key>🌻</key>
	<string>fl031</string>
	<key>🌺</key>
	<string>fl032</string>
	<key>🌴</key>
	<string>fl034</string>
	<key>🌵</key>
	<string>fl035</string>
	<key>🌾</key>
	<string>fl036</string>
	<key>🍃</key>
	<string>fl037</string>
	<key>🍀</key>
	<string>fl038</string>
	<key>🍁</key>
	<string>fl039</string>
	<key>🍂</key>
	<string>fl040</string>
</dict>
</plist>
